.navbar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px 100px;
    height: 85px;
    position: fixed;
    z-index: 99999;
    animation: up 1.5s ease-in-out;
    animation-delay: 2s;
    transition: 350ms ease;
}


.container-nav{
    width: 100%;
    position: relative;
    z-index: 999991;
}

.container-nav .row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container-nav .col4{
    height: 100%;
}

.container-nav .brand{
    display: flex;
    list-style: none;
    width: 20%;
    padding: 0;
    padding-top: 0;
    margin: 0;
}

.navbar .menuMobile{
    display: none;
}

.container-nav .brand h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -0.05em;
}

.container-nav .col4{
}

.container-nav .navlink{
    width: 60%;
}

.navbar .container-nav .btn-nav{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 3.26px;
    transition: 350ms ease;
}

.navbar .container-nav .btn-nav.active {
    transition: 350ms ease;
    gap: 0;
}

.navbar .container-nav .btn-nav span:nth-child(1){
    width: 26.09px;
    height: 3.26px;
    background: #121926;
    border-radius: 20.2174px;
    display: block;
    transition: 500ms ease-in-out;
}
.navbar .container-nav .btn-nav.active span:nth-child(1){
    transform: rotate(45deg);
    transition: 350ms ease;
}

.navbar .container-nav .btn-nav span:nth-child(2){
    width: 18.26px;
    height: 3.26px;
    background: #121926;
    border-radius: 20.2174px;
    display: block;
    transition: 350ms ease;
 }

.navbar .container-nav .btn-nav.active span:nth-child(2){
    transform: rotate(-45deg);
    transition: 350ms ease;
    margin-top: -6px;
}

.navbar .container-nav .btn-nav span:nth-child(3){
    width: 9.13px;
    height: 3.26px;
    background: #121926;
    border-radius: 20.2174px;
    display: block;
    transition: 350ms ease;
}

.navbar .container-nav .btn-nav.active span:nth-child(3){
    transform: rotate(-45deg);
    transition: 350ms ease;
    margin-top: 5px;
    margin-right: 13px;
}



.container-nav .navlink ul{
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 30px;
    text-decoration: none;

}

.container-nav .navlink ul li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    transition: 350ms ease;
    cursor: pointer;
}
.container-nav .navlink ul li a{
    text-decoration: none;
    color: #121926;
    transition: 350ms ease;
}


.container-nav .navlink ul li a:hover{
    color: #2D81FF;
    font-weight: 700;
    transition: 350ms ease;
}

.container-nav .navlink ul li .mati{
    color: #121926;
    transition: 350ms ease;
}

.container-nav .navlink ul .nyala{
    color: #2D81FF;
    font-weight: 700;
    transition: 350ms ease;
}

.container-nav .col4:nth-child(4){
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

@media (max-width: 1024px){ 
    .container-nav .col4{
    }
    .container-nav .brand{
        display: flex;
        list-style: none;
        width: 15%;
    }
    .container-nav .navlink{
        display: flex;
        list-style: none;
        width: 70%;
    }
    
}

@media (max-width: 768px){ 
    .navbar{
        padding: 0px 50px;
    }
    .navbar .menuMobile{
        display: block;
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 100%;
        overflow: hidden;
        top: -100%;
        left: 0;
        height: 0;
        z-index: 999990;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
        transition: 1.5s ease;
    }

    .navbar .menuMobile.active{
        animation: navigasidown 1.5s ease;
        top: 0;
        height: 100vh;
        overflow: visible;    
    }

    .navbar .menuMobile .navlinkMobile{
        width: 100%;
    }

    .navbar .menuMobile .navlinkMobile ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 10px;
    }

    .navbar .menuMobile .navlinkMobile ul li{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px;
        border-radius: 100px;
        transition: 500ms ease;
        background-color: white;
    }

    .navbar .menuMobile .navlinkMobile ul li:hover{
        background-color: #2D81FF;
        transition: 500ms ease;
    }

    .navbar .menuMobile .navlinkMobile ul li a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        letter-spacing: -0.05em;
        text-decoration: none;
        color: #121926;
        transition: 500ms ease;
    }

    .navbar .menuMobile .navlinkMobile ul li:hover a{
        font-size: 48px;
        color: #ffffff;
        transition: 500ms ease;
    }

    .navbar .menuMobile .footer {
        width: 100%;
        padding: 0;
        padding: 20px 50px;
        flex-wrap: wrap;
        gap: 50px;
    }

    .navbar .menuMobile .footer p{
        text-align: center;
    }

    .navbar .menuMobile .footer .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 100%;
    }

    .navbar .menuMobile .footer .informasi{
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: visible;
        height: 100%;
    }

    .navbar .menuMobile .footer .informasi .socialmedia{
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: visible;
        height: 100%;
    }

    .navbar .menuMobile .footer .informasi .socialmedia ul{
        flex-direction: row;
        overflow: scroll;
        height: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .navbar .menuMobile .footer .informasi .socialmedia ul li{
        width: 100%;
    }
    .navbar .container-nav .navlink{
        display: none;
    }
    .navbar .container-nav .col4:nth-child(4){
        display: none;
    }
    .navbar .container-nav .btn-nav{
        display: flex;
    }
    .navbar .container-nav .brand{
        width: 100% ;
    }
    .navbar .menuMobile .footer {
        width: 100%;
    }
    

}

@media (max-width: 414px){ 
    .navbar{
        width: 100%;
        padding: 20px 20px;
    }
    .navbar .container-nav{
        width: 100%;
    }

    .navbar .container-nav .row1{
        width: 100%;
    }

    .navbar .container-nav .brand{
        width: 100% ;
    }

    .navbar .container-nav .brand h5{
        font-weight: 800;
        font-size: 28px;
        line-height: 29px;
    }

    .navbar .container-nav .navlink{
        display: none;
    }

    .navbar .container-nav .btn-nav{
        display: flex;
    }
    .navbar .container-nav .col4:nth-child(4){
        display: none;
    }

    .navbar .menuMobile{
        display: block;
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 100%;
        overflow: hidden;
        top: -100%;
        left: 0;
        height: 0;
        z-index: 999990;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
        transition: 1.5s ease;
    }

    .navbar .menuMobile.active{
        animation: navigasidown 1.5s ease;
        top: 0;
        height: 100vh;
        overflow: visible;    
    }

    .navbar .menuMobile .navlinkMobile{
        width: 100%;
    }

    .navbar .menuMobile .navlinkMobile ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 10px;
    }

    .navbar .menuMobile .navlinkMobile ul li{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px;
        border-radius: 100px;
        transition: 500ms ease;
        background-color: white;
    }

    .navbar .menuMobile .navlinkMobile ul li:hover{
        background-color: #2D81FF;
        transition: 500ms ease;
    }

    .navbar .menuMobile .navlinkMobile ul li a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        letter-spacing: -0.05em;
        text-decoration: none;
        color: #121926;
        transition: 500ms ease;
    }

    .navbar .menuMobile .navlinkMobile ul li:hover a{
        font-size: 48px;
        color: #ffffff;
        transition: 500ms ease;
    }

    .navbar .menuMobile .footer {
        width: 100%;
        padding: 0;
        padding-top: 20px;
        flex-wrap: nowrap;

    }

    .navbar .menuMobile .footer .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 100%;
    }

    .navbar .menuMobile .footer .informasi{
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: visible;
        height: 100%;
    }

    .navbar .menuMobile .footer .informasi .socialmedia{
        padding: 0;
        margin: 0;
        width: 100%;
        overflow: visible;
        height: 100%;
    }

    .navbar .menuMobile .footer .informasi .socialmedia ul{
        flex-direction: row;
        overflow: scroll;
        height: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .navbar .menuMobile .footer .informasi .socialmedia ul li{
        width: 100%;
    }

}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes navigasidown{
    0% {
        top: -100%;
        height: 0;
        overflow: visible;
    }
    100%{
        top: 0%;
        height: 100vh;
    }
}