.button{
    padding: 11px 20px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #2D81FF;
    border-radius: 100px;
    cursor: pointer;
    transition: 350ms ease-in-out;
}

.button:hover{
    background: #0139d4;
    transition: 350ms ease-in-out;
}

.button h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: white;
}

@media (max-width: 1024px){ 
    .button{
        padding: 12px;
    }
    .button h6{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: -0.03em;
        color: white;
    }
}

@media (max-width: 768px){ 
    
}