.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 60px;
    isolation: isolate;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.section4 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

.section4 .text h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    letter-spacing: -0.05em;

    /* typho */

    color: #121926;
}

.section4 .text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 175% */

    text-align: center;

    /* paragraph */

    color: #444444;
}

.section4 .foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 70px;
    position: relative;
    z-index: 11;
}

.section4 .foto ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 11;
 }

.section4 .foto ul img:nth-child(1) {
    width: 218px;
}

.section4 .foto ul img:nth-child(2) {
    width: 218px;
}

.section4 .BG {
    position: absolute;
    width: 1239px;
    height: 1239px;
    top: 0;
    right: 0;
    z-index: -10;
}

@media (max-width: 1024px){ 
    .section4, .section4 .foto{
    }
    .section4 .foto{
        width: 100%;
    }
}

@media (max-width: 768px){ 
    .section4{
        padding: 0;
        gap: 20px;
    }
    .section4 .text{
        padding: 0px 50px 0px 50px;
    }
    .section4 .foto{
        width: 100%;
        padding: 0px 50px 50px 50px;
        overflow: scroll;
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 414px){ 
    .section4 {
        padding: 60px 0px 40px;
        gap: 35px;
        width: 100%;
    }

    .section4 .text {
        padding:0px 20px ;
    }

    .section4 .text h5{
        font-weight: 800;
        font-size: 32px;
        line-height: 39px;
    }

    .section4 .text p{
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
    }

    .section4 .text{
        gap: 10px;
    }
    .section4 .foto {
        position: relative;
        gap: 30px;
        justify-content: center;
        overflow: hidden;
        width:100%;z-index: 1;
        padding: 0;
    }
    .section4 .foto ul{
       list-style: none;
       width: 100%;
       padding-left: 20px;
       display: flex;
       flex-direction: row;
       padding: 0;
       margin: 0;
       flex-wrap: nowrap;
       align-items: center;
       gap: 30px;
       padding: 0px 20px;
       overflow: scroll;
    }
    .section4 .foto ul li{
        padding: 20px 0px;
    }       
}